*{
  margin:0;
}


.bg-custom{
    background-color: #11235A ;
}

.navbar a{
    color:white;
}

.navbar-nav .nav-item a{
    color:white;
}

.navbar a:hover{
    color: #0a132c;
}


.logo{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.logo h1{
    color: #EC4242;
    font-size: 80px;
    font-weight: 750;

}

.logo h1 .highlight{
    color: #ffffff;
    font-weight: 400;
}

.slogan{
    text-align: center;
    color: white;
    margin: top 0;
}
.form-search{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search-input {
    width: 100%;
    max-width: 2500px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 8px;
    background-color: #007bff00;
    color: white;
  }
  .search-btn {
    display: block;
    width: 120px;
    margin: auto;
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #EC4242;
    color: #fff;
    border: none;
    border-radius: 15px 5px 15px 5px;
    cursor: pointer;
  }

  .shadoww{
    box-shadow: 5px 5px 10px black;
    transition: transform 0.3s ease-in-out;
  }

  .shadoww:hover{
    transform: scale(1.1);
  }

  .footer{
    height: 150px;
    background-color: #0a132c;
    text-align: center;
    
  }

.logo-img img{
    margin-top: 15px;
    margin-bottom: 10px;
}

.text-foot{
    color: white;
}

.text-foot i{
    color: rgb(239, 1, 1);
}

.footer a{
    color: white;
    text-decoration: none;
}